<% content_for :navbar do %>
<li><%= link_to 'New Feed', new_feed_path %></li>
<% end %>

<% if notice %>
  <%= bootstrap_alert(:success, notice).html_safe %>
<% end %>

<h4>Feeds</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= truncate feed.url, 60 %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
