<span class="pull-right">
<h3>
  <%= link_to '<span class="fui-new"></span>'.html_safe, edit_show_path(@show) %>
  <%= link_to '<span class="fui-arrow-left"></span>'.html_safe, shows_path %>
  </h3>
</span>

<p id="notice"><%= notice %></p>
<h1><%= @show.name %></h1>

<legend>Rules</legend>
<div id="rules-area">
  <%= render partial: 'rules/rules_list', locals: { show: @show } %>
</div>
<%= link_to 'Add Rule', new_rule_path(show: @show.id), class: 'btn btn-inverse', remote: true %>
