<h4>Recent Snatches</h4>

<% @recent_episodes.each_slice(2) do |pair| %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% pair.each do |ep| %>
          <div class="col-md-3 col-xs-3">
            <%= link_to image_tag(ep.show.poster_path, class: 'show-poster').html_safe, ep.show %>
          </div>
          <div class="col-md-3 col-xs-3">
            <strong><%= link_to ep.show.name, ep.show %></strong><br>
            <%= ep.season_code %>
            <div class="hidden-xs">
              <%= readable_timestamp ep.created_at %><br>
              <small><%= truncate ep.name, 90 %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
