<h1>Lazy Legume</h1>

<table width="100%" class="table">
  <tr>
    <td><%= link_to 'All Shows', shows_path, class: 'btn btn-success btn-block' %></td>
    <td><%= link_to 'All Feeds', feeds_path, class: 'btn btn-success btn-block' %></td>
  </tr>
</table>

<legend>Recently Snatched</legend>
<table class='table'>
  <thead>
    <th>Show</th>
    <th>Episode</th>
    <th>Name</th>
    <th>Time</th>
  </thead>
  <tbody>
    <% @recent_episodes.each do |ep| %>
      <tr>
        <td><%= link_to "#{ image_tag(ep.show.poster_path, class: 'show-poster-thumb') }  #{ ep.show.name }".html_safe, ep.show %></td>
        <td><%= ep.season_code %></td>
        <td><%= truncate ep.name, 50 %></td>
        <td><%= readable_timestamp ep.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# @recent.map(&:name).join("<br>").html_safe %>
