 <%= form_for rule, remote: true do |f| %>
  <%= f.hidden_field :show_id, value: show.id %>
  <div class="row rule-setting-row">
    <div class="col-md-5">
      <%= f.text_field :keywords, placeholder: 'Keywords', class: 'form-control', value: (rule.keywords || @show.name) %>
    </div>
    <div class="col-md-2">
      <%= f.select :quality, options_for_select([['Quality - Any', ''],
                                                   ['HDTV', 'hdtv'],
                                                   ['720', '720'],
                                                   ['1080', '1080'],
                                                   ['720 or 1080', '(720|1080)'],
                                                   ['WEB', 'web']], rule.quality),
        {}, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.select :feed_id, Feed.all.map {|f| [f.name, f.id] }, {}, class: 'form-control' %>
    </div>
    <div class="col-md-1">
      <%= f.submit 'Save', class: 'btn btn-inverse btn-block', data: { disable_with: '...' } %>
    </div>
    <div class="col-md-1">
      <%= f.submit 'Test', class: 'btn btn-block', data: { disable_with: '...' } %>
    </div>
    <div class="col-md-1">
      <%= link_to('<span class="fui-cross-circle"></span>'.html_safe, rule, class: 'btn btn-danger btn-block', method: :delete, remote: true, data: { confirm: 'Are you sure?' }) if rule.id.present? %>
    </div>
  </div>
  <div class="row rule-regex-row">
    <div class='col-md-12'>
      <%= f.text_field :regex, class: "form-control", placeholder: 'Regex, click to edit manually', readonly: true %>
    </div>
  </div>
<% end %>
<div id='js-<%= rule.id %>-test-area'></div>
