<div class="row">
  <div class="col-md-3">
    <%= image_tag "http://thetvdb.com/banners/#{ show.poster }", class: 'show-poster' %>
  </div>
  <div class="col-md-9">
    <h4 class='js-show-title'><%= show.name %></h4>
    <% if defined? f %>
      <div class="input-group">
        <%= f.fields_for :rule do |rf| %>
          <%= render partial: 'rules/quality_select', locals: { f: rf, rule: Rule.new } %>
        <% end %>
        <span class="input-group-btn">
          <%= f.submit 'Create', class: 'btn btn-default' %>
        </span>
      </div>
      <br>
    <% end %>
    <div class="row">
      <div class="col-md-8">
        <p><%= orblank show.overview %></p>
        <p>Starring: <%= orblank (show.actors && (show.actors[0..5].try(:join, ', ') || show.cast_list)) %></p>
      </div>
      <div class="col-md-4">
        <table class='table'>
          <tr>
            <th width='40%'>First Aired</th>
            <td><%= orblank show.first_aired.try(:strftime, "%D") %></td>
          </tr>
          <tr>
            <th>Rating</th>
            <td><%= orblank show.rating %></td>
          <tr>
            <th>Status</th>
            <td><%= orblank show.status %></td>
          </tr>
          <tr>
            <th>Airs</th>
            <td><%= orblank show.airs_dayofweek %> at <%= orblank show.airs_time %></td>
          <tr>
            <th>Genre</th>
            <td><%= (orblank (show.genre.try(:join, '<br>') || show.try(:genre_list))).html_safe %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
