<% content_for :navbar do %>
  <li><%= link_to 'New Show', new_show_path, class: '' %></li>
<% end %>

<h4>Shows</h4>

<% @shows.each_slice(2) do |pair| %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% pair.each do |show| %>
          <div class = "col-md-6 col-xs-6 show-row">
            <div class="row">
              <div class="col-md-6">
                <%= link_to image_tag(show.poster_path, class: 'show-poster').html_safe, show %>
              </div>
              <div class="col-md-6">
                <strong><%= link_to show.name, show %></strong><br>
                <div class="hidden-xs">
                  Airs <%= orblank show.airs_dayofweek %> at <%= orblank show.airs_time %><br>
                  <small>
                    Newest: <%= orblank show.episodes.order('created_at asc').first.try(:season_code) %><br>
                    <%= show.episodes.count %> episodes total
                  </small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
