<h1>Shows</h1>
<span class="pull-right"><%= link_to 'Home', root_url %></span>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th width='10%'>Episodes</th>
      <th width='5%'></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td>
          <%= link_to "#{ image_tag(show.poster_path, class: 'show-poster-thumb') }  #{ show.name }".html_safe, show %>
        </td>
        <td><%= show.episodes.count %></td>
        <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_show_path %>
