<h1><%= @show.name %></h1>
<span class="pull-right">
  <%= link_to 'Edit'.html_safe, edit_show_path(@show) %> |
  <%= link_to 'Shows'.html_safe, shows_path %> |
  <%= link_to 'Home', root_url %>
</span>

<p id="notice"><%= notice %></p>

<legend>Rules</legend>
<div id="js-rules-area">
  <%= render partial: 'rules/rules_list', locals: { show: @show } %>
</div>
<%= link_to 'Add Rule', new_rule_path(show: @show.id), class: 'btn btn-inverse', remote: true %>
