<% content_for :javascript_includes do %>
  <%= javascript_include_tag "show_show.js" %>
<% end %>

<% if notice %>
  <%= bootstrap_alert(:success, notice).html_safe %>
<% end %>

<span class="pull-right">
  <%= link_to 'Destroy', @show, method: :delete, data: { confirm: 'Are you sure? This will delete all associated episodes and rules (but not files on the disk).' } %> |
  <%= link_to 'Shows', shows_path %> |
  <%= link_to 'Home', root_url %>
</span>
<br>
<%= render partial: 'show_info', locals: { show: @show } %>

<h4>Rules</h4>
<div id="js-rules-area">
  <%= render partial: 'rules/rules_list', locals: { show: @show } %>
</div>
<%= link_to 'Add Rule', new_rule_path(show: @show.id), class: 'btn btn-inverse', remote: true %>

<br>
<br>

<h4>Episodes</h4>
<%= render partial: 'episode_table', locals: { episodes: @episodes } %>
