<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lazy Legume</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= request.fullpath.include?('shows') ? 'class=active' : '' %>>
          <%= link_to 'Shows', shows_path %>
        </li>
        <li <%= request.fullpath.include?('feeds') ? 'class=active' : '' %>>
          <%= link_to 'Feeds', feeds_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= yield :navbar %>
        <li><a href="/"><span class="fui-home"></span></a></li>
        <li <%= request.fullpath.include?('settings') ? 'class=active' : '' %>>
          <%= link_to '<span class="fui-gear"></span>'.html_safe, settings_path %>
        </li>
        <% if session[:require_auth] %>
          <li><%= link_to '<span class="fui-power"></span>'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
