<!DOCTYPE html>
<html>
<head>
  <title>Lazylegume</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>


<%= render partial: 'layouts/nav' %>


<div class="container">
  <%= yield %>
</div>
<%= yield :javascript_includes %>
</body>
</html>
